
# lista extensa do environment, depois filtro para os que foram utilizados realmente
ipython==5.1.0
jupyter==1.0.0
matplotlib==1.5.3
notebook==4.2.3
numpy==1.11.2
pandas==0.18.1
Pillow==3.4.1
pytesseract==0.1.6
scikit-image==0.12.3
scipy==0.18.1
seaborn==0.7.1

# the following must be installed separately
# opencv==3.1.0
# tesseract